<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding ion-text-center">
        <h1>Register</h1>
      </ion-col>
    </ion-row>
    <form [formGroup]="formSignIn" (ngSubmit)="onSubmit()">
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3" sizeLg="4" offsetLg="4">
          <ion-item lines="none" color="light">
            <ion-input type="email" placeholder="email" required formControlName="email" [clearInput]="true">
            </ion-input>
          </ion-item>
          <ng-container *ngFor="let error of error_messages.email">
            <div
              *ngIf="formSignIn.get('email')?.hasError(error.type) && (formSignIn.get('email')?.dirty || formSignIn.get('email')?.touched)">
              <small style="color: red">{{ error.message }}</small>
            </div>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3" sizeLg="4" offsetLg="4">
          <ion-item lines="none" color="light">
            <ion-input type="password" placeholder="password" required formControlName="password" [clearInput]="true">
            </ion-input>
          </ion-item>
          <ng-container *ngFor="let error of error_messages.password">
            <div
              *ngIf="formSignIn.get('password')?.hasError(error.type) && (formSignIn.get('password')?.dirty || formSignIn.get('password')?.touched)">
              <small style="color: red">{{ error.message }}</small>
            </div>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3" sizeLg="4" offsetLg="4">
          <ion-item lines="none" color="light">
            <ion-input type="password" placeholder="confirm password" required formControlName="password2"
                       [clearInput]="true">
            </ion-input>
          </ion-item>
          <ng-container *ngFor="let error of error_messages.password2">
            <div
              *ngIf="formSignIn.get('password2')?.hasError(error.type) && (formSignIn.get('password2')?.dirty || formSignIn.get('password2')?.touched)">
              <small style="color: red">{{ error.message }}</small>
            </div>
          </ng-container>
          <div
            *ngIf="!formSignIn.get('password2')?.errors && formSignIn.hasError('passwordNotMatch') && (formSignIn.get('password2')?.dirty || formSignIn.get('password2')?.touched)">
            <small style="color: red">Passwords must match.</small>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3" sizeLg="4" offsetLg="4">
          <ion-button type="submit" expand="block" [disabled]="!formSignIn.valid">Register</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3" sizeLg="4" offsetLg="4">
          <ion-button expand="block" (click)="handleCancel()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
