<ion-header class="ion-padding ion-text-center"><ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
  </ion-buttons>
  <ion-title>Exportar pdf</ion-title>
</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-datetime [showDefaultTitle]="true" presentation="date" min="2024-03-01T00:00:00" max="2024-05-31T00:00:00" [isDateEnabled]="availableDays" (ionChange)="selectedWeek($event)">
          <span slot="title">Escoja semana</span>
        </ion-datetime>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              Día
            </ion-col>
            <ion-col size="2">
              Mes
            </ion-col>
            <ion-col size="7">
              Actividad
            </ion-col>
            <ion-col size="1" class="ion-text-nowrap">
              Tiempo
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item *ngFor="let task of tasks">
          <ion-col size="1">
            {{ task.date.slice(8,10) }}
          </ion-col>
          <ion-col size="2">
            {{ task.date.slice(5,7) === '03' ? 'Marzo': task.date.slice(5,7) === '04' ? 'Abril' : 'Mayo' }}
          </ion-col>
          <ion-col size="7">
            {{ task.taskcontent }}
          </ion-col>
          <ion-col size="1">
            {{ task.hours }} h.
          </ion-col>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button *ngIf="week.length > 0">Generar pdf</ion-button>
  </ion-grid>
</ion-content>
