<ion-header *transloco="let t">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button color="primary" fill="solid" shape="round" (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Opciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          Modo oscuro
          <ion-toggle [(ngModel)]="darkMode" (ionChange)="changeMode()"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          Idioma
          <ion-select [(ngModel)]="selectedLang" (ionChange)="changeLang()" placeholder="Seleccionar idioma">
            <ion-select-option value="en"><ion-img src="assets/imgs/en.png" alt="english"></ion-img> English</ion-select-option>
            <ion-select-option value="es"><ion-img src="assets/imgs/es.png" alt="español"></ion-img> Español</ion-select-option>
            <ion-select-option value="fr"><ion-img src="assets/imgs/fr.png" alt="français"></ion-img> Français</ion-select-option>
            <ion-select-option value="de"><ion-img src="assets/imgs/de.png" alt="deutsch"></ion-img> Deutsch</ion-select-option>
            <ion-select-option value="ru"><ion-img src="assets/imgs/ru.png" alt="русский"></ion-img> Pусский</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-toggle [(ngModel)]="toggleSortList" (ionChange)="changeSortOrder()">Lista en orden temporal inverso</ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
