<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Create new task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handleSave()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed="true" class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-datetime [showDefaultTitle]="true" presentation="date" min="2024-03-01T00:00:00" max="2024-05-31T00:00:00" [isDateEnabled]="availableDays" [(ngModel)]="date">
          <span slot="title">Escoja día</span>
        </ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="taskcontent" type="text" name="taskcontent" label="Trabajo realizado" placeholder="Especifique las tareas realizadas en este dia" [value]="taskcontent"></ion-input>
      </ion-col>
    </ion-row>
    {{date}} tarea {{taskcontent}}
  </ion-grid>
</ion-content>
