<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Create new task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handleSave()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-datetime [showDefaultTitle]="true" presentation="date" min="2024-03-01T00:00:00" max="2024-05-31T00:00:00" [isDateEnabled]="availableDays" [(ngModel)]="date" (ionChange)="handleSelectDay($event)">
          <span slot="title">Escoja día</span>
        </ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="taskcontent" type="text" name="taskcontent" label="Trabajo realizado" placeholder="Especifique las tareas realizadas en este dia" [value]="taskcontent"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="hours" type="number" name="hours" label="Tiempo empleado (horas)" min="0" max="24" placeholder="Indique las horas realizadas" [value]="hours"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
