<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button color="medium" fill="solid" shape="round" (click)="cancel()">{{ 'form.cancelButton' | transloco }}</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <div class="ion-text-wrap">
        {{ 'form.title' | transloco }}
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" shape="round" (click)="confirm()" [strong]="true">{{ 'form.confirmButton' | transloco }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formDataGroup">
    <ion-list class="form-group">
      <ion-item lines="none">
        <ion-input class=" form-control" formControlName="alumno" type="text" [label]="'form.labelInputStudent' | transloco" labelPlacement="floating"
                   [attr.aria-label]="'form.labelInputStudent' | transloco" [placeholder]="'form.placeholderInputStudent' | transloco"></ion-input>
        <div *ngIf="formDataGroup.get('alumno')?.value === undefined || formDataGroup.get('alumno')?.value === ''"
             class="ion-text-right">
          <small style="color: gray">{{ 'form.infoInputStudent' | transloco }}</small>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-input class="form-control" formControlName="ciclo" type="text" [label]="'form.labelInputCycle' | transloco"
                   labelPlacement="floating" [attr.aria-label]="'form.labelInputCycle' | transloco"
                   [placeholder]="'form.placeholderInputCycle' | transloco"></ion-input>
        <div *ngIf="formDataGroup.get('ciclo')?.value === undefined || formDataGroup.get('ciclo')?.value === ''"
             class="ion-text-right">
          <small style="color: gray">{{ 'form.infoInputCycle' | transloco }}</small>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-select
          [class.empty]="!formDataGroup.get('grado')?.touched && formDataGroup.get('grado')?.value === undefined"
          class="form-control" formControlName="grado" [label]="'form.labelInputDegree' | transloco" labelPlacement="floating" [attr.aria-label]="'form.labelInputDegree' | transloco">
          <ion-select-option>{{'form.optionIntermediate' | transloco }}</ion-select-option>
          <ion-select-option>{{ 'form.optionHigher' | transloco }}</ion-select-option>
        </ion-select>
        <div *ngIf="formDataGroup.get('grado')?.value === undefined || formDataGroup.get('grado')?.value === ''"
             class="ion-text-right">
          <small style="color: gray">{{ 'form.infoInputDegree' | transloco }}</small>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-input class="form-control" formControlName="centrodocente" type="text" [label]="'form.labelInputEducationCenter' | transloco"
                   labelPlacement="floating" [attr.aria-label]="'form.labelInputEducationCenter' | transloco"
                   [placeholder]="'form.placeholderInputEducationCenter' | transloco"></ion-input>
        <div
          *ngIf="formDataGroup.get('centrodocente')?.value === undefined || formDataGroup.get('centrodocente')?.value === ''"
          class="ion-text-right">
          <small style="color: gray">{{ 'form.infoInputEducationCenter' | transloco }}</small>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-input class="form-control" formControlName="profesor" type="text" [label]="'form.labelInputTeacher' | transloco"
                   labelPlacement="floating" [attr.aria-label]="'form.labelInputTeacher' | transloco"
                   [placeholder]="'form.placeholderInputTeacher' | transloco"></ion-input>
        <div *ngIf="formDataGroup.get('profesor')?.value === undefined || formDataGroup.get('profesor')?.value === ''"
             class="ion-text-right">
          <small style="color: gray">{{ 'form.infoInputTeacher' | transloco }}</small>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-input class="form-control" formControlName="centrotrabajo" type="text"
                   [label]="'form.labelInputWorkCenter' | transloco" labelPlacement="floating"
                   [attr.aria-label]="'form.labelInputWorkCenter' | transloco"
                   [placeholder]="'form.placeholderInputWorkCenter' | transloco"></ion-input>
        <div
          *ngIf="formDataGroup.get('centrotrabajo')?.value === undefined || formDataGroup.get('centrotrabajo')?.value === ''"
          class="ion-text-right">
          <small style="color: gray">{{ 'form.infoInputWorkCenter' | transloco }}</small>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-input formControlName="tutor" type="text" [label]="'form.labelInputTutor' | transloco" labelPlacement="floating"
                   [attr.aria-label]="'form.labelInputTutor' | transloco" [placeholder]="'form.placeholderInputTutor' | transloco"></ion-input>
        <div *ngIf="formDataGroup.get('tutor')?.value === undefined || formDataGroup.get('tutor')?.value === ''"
             class="ion-text-right">
          <small style="color: gray">{{ 'form.infoInputTutor' | transloco }}</small>
        </div>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
